Repository PathwayPro/Community-Connect-App, pull requests merged in 2024-12, with the labels that each got.

#27 Cc 10 setup add typography and styling
  packages/frontend/components.json
  packages/frontend/package-lock.json
  packages/frontend/package.json
  packages/frontend/src/app/globals.css
  packages/frontend/src/app/layout.tsx
  packages/frontend/src/app/page.tsx
  packages/frontend/src/components/typography/typography.tsx
  packages/frontend/tailwind.config.ts
Labels: ✨ polish, 🖥️ frontend

#30 Chore: Update Typography with Design Foundations
  packages/frontend/src/app/fonts/fonts.ts
  packages/frontend/src/app/layout.tsx
  packages/frontend/src/app/page.tsx
  packages/frontend/src/components/typography/typography.tsx
  packages/frontend/tailwind.config.ts
Labels: ✨ polish

#34 Feat: Implement User Registration and Login Frontend
  packages/frontend/components.json
  packages/frontend/package-lock.json
  packages/frontend/package.json
  packages/frontend/src/app/(auth)/login/page.tsx
  packages/frontend/src/app/(auth)/register/page.tsx
  packages/frontend/src/app/layout.tsx
  packages/frontend/src/app/page.tsx
  packages/frontend/src/config/fonts/GeistMonoVF.woff
  packages/frontend/src/config/fonts/GeistVF.woff
  packages/frontend/src/config/fonts/fonts.ts
  packages/frontend/src/features/auth/api/auth-api.ts
  packages/frontend/src/features/auth/api/index.ts
  packages/frontend/src/features/auth/components/auth-form.tsx
  packages/frontend/src/features/auth/components/icons/index.tsx
  packages/frontend/src/features/auth/components/verify-email.tsx
  packages/frontend/src/features/auth/hooks/use-auth.ts
  packages/frontend/src/features/auth/providers/auth-context.tsx
  packages/frontend/src/features/auth/providers/index.ts
  packages/frontend/src/features/auth/types/index.ts
  packages/frontend/src/features/auth/validations/auth.schema.ts
  packages/frontend/src/features/user-profile/api/user-api.ts
  packages/frontend/src/features/user-profile/types/index.ts
  packages/frontend/src/middleware.ts
  packages/frontend/src/shared/api/axios-instance.ts
  packages/frontend/src/shared/api/index.ts
  packages/frontend/src/shared/api/methods.ts
  packages/frontend/src/shared/components/typography/typography.tsx
  packages/frontend/src/shared/components/ui/button.tsx
  packages/frontend/src/shared/components/ui/form.tsx
  packages/frontend/src/shared/components/ui/input.tsx
  packages/frontend/src/shared/components/ui/label.tsx
  packages/frontend/src/shared/components/ui/sonner.tsx
  packages/frontend/src/shared/components/ui/toast.tsx
  packages/frontend/src/shared/components/ui/toaster.tsx
  packages/frontend/src/shared/hooks/use-toast.ts
  packages/frontend/src/shared/lib/utils.ts
  packages/frontend/src/shared/types/index.ts
  packages/frontend/src/shared/utils/index.ts
  packages/frontend/src/shared/utils/tokens.ts
  packages/frontend/src/styles/globals.css
  packages/frontend/tsconfig.json
  src/middleware.ts
Labels: 🚀 new feature, 🖥️ frontend

#37 Feat/mentorship issue 16
  packages/backend/.env.example
  packages/backend/API-REFERENCE.md
  packages/backend/README.md
  packages/backend/package-lock.json
  packages/backend/package.json
  packages/backend/prisma/migrations/20241205140337_initial_migration/migration.sql
  packages/backend/prisma/migrations/20241206035910_add_email_verification_fields/migration.sql
  packages/backend/prisma/migrations/20241211224049_users_mentors_relationships_and_authentication/migration.sql
  packages/backend/prisma/migrations/20241214234721_/migration.sql
  packages/backend/prisma/schema.prisma
  packages/backend/src/app.module.ts
  packages/backend/src/auth/email.Service.ts
  packages/backend/src/mentor/dto/create-mentor.dto.ts
  packages/backend/src/mentor/dto/filter-mentor.dto.ts
  packages/backend/src/mentor/dto/update-mentor.dto.ts
  packages/backend/src/mentor/mentor.controller.ts
  packages/backend/src/mentor/mentor.module.ts
  packages/backend/src/mentor/mentor.service.ts
  packages/backend/src/users/dummy-users.json
Labels: 📖 documentation, 🚀 new feature, 🔌 backend

#38 Fix: Update Auth UI and Connect to Backend
  packages/backend/src/auth/services/auth.service.ts
  packages/backend/src/auth/strategies/jwt.strategy.ts
  packages/backend/src/users/users.controller.ts
  packages/frontend/components.json
  packages/frontend/package-lock.json
  packages/frontend/package.json
  packages/frontend/public/auth/auth-image-1.png
  packages/frontend/public/auth/auth-image-2.png
  packages/frontend/src/app/(auth)/login/page.tsx
  packages/frontend/src/app/(auth)/register/page.tsx
  packages/frontend/src/app/auth/forgot-password/page.tsx
  packages/frontend/src/app/auth/login/page.tsx
  packages/frontend/src/app/auth/register/page.tsx
  packages/frontend/src/app/auth/reset-password/page.tsx
  packages/frontend/src/app/auth/verify-email/page.tsx
  packages/frontend/src/app/dashboard/page.tsx
  packages/frontend/src/app/layout.tsx
  packages/frontend/src/features/auth/api/auth-api.ts
  packages/frontend/src/features/auth/components/auth-carousel.tsx
  packages/frontend/src/features/auth/components/auth-form.tsx
  packages/frontend/src/features/auth/components/forgot-password-form.tsx
  packages/frontend/src/features/auth/components/icons/index.tsx
  packages/frontend/src/features/auth/components/verify-email.tsx
  packages/frontend/src/features/auth/hooks/use-auth.ts
  packages/frontend/src/features/auth/types/index.ts
  packages/frontend/src/features/auth/validations/auth.schema.ts
  packages/frontend/src/features/user-profile/api/user-api.ts
  packages/frontend/src/features/user-profile/types/index.ts
  packages/frontend/src/middleware.ts
  packages/frontend/src/shared/api/axios-instance.ts
  packages/frontend/src/shared/components/notification/alert-dialog.tsx
  packages/frontend/src/shared/components/typography/typography.tsx
  packages/frontend/src/shared/components/ui/alert-dialog.tsx
  packages/frontend/src/shared/components/ui/button.tsx
  packages/frontend/src/shared/components/ui/card.tsx
  packages/frontend/src/shared/components/ui/carousel.tsx
  packages/frontend/src/shared/components/ui/icon-input.tsx
  packages/frontend/src/shared/components/ui/input.tsx
  packages/frontend/src/shared/components/ui/separator.tsx
  packages/frontend/src/shared/utils/tokens.ts
  packages/frontend/src/styles/globals.css
  packages/frontend/src/styles/theme-provider.tsx
  packages/frontend/tailwind.config.ts
  tailwind.config.ts
Labels: ✨ polish, 🖥️ frontend, 🔌 backend

#39 Feat/events issue 19
  packages/backend/prisma/migrations/20241215184959_events_flow/migration.sql
  packages/backend/prisma/migrations/20241215184960_events_categories_default_data/migration.sql
  packages/backend/prisma/migrations/20241215230651_events_col_accept_subscriptions/migration.sql
  packages/backend/prisma/schema.prisma
  packages/backend/src/app.module.ts
  packages/backend/src/events/dto/create-event.dto.ts
  packages/backend/src/events/dto/filter-event.dto.ts
  packages/backend/src/events/dto/update-event.dto.ts
  packages/backend/src/events/entities/event.entity.ts
  packages/backend/src/events/events.controller.ts
  packages/backend/src/events/events.module.ts
  packages/backend/src/events/events.service.ts
  packages/backend/src/events_categories/dto/create-events_category.dto.ts
  packages/backend/src/events_categories/dto/update-events_category.dto.ts
  packages/backend/src/events_categories/entities/events_category.entity.ts
  packages/backend/src/events_categories/events_categories.controller.ts
  packages/backend/src/events_categories/events_categories.module.ts
  packages/backend/src/events_categories/events_categories.service.ts
  packages/backend/src/events_invitations/dto/create-events_invitation.dto.ts
  packages/backend/src/events_invitations/dto/delete-events_invitation.dto.ts
  packages/backend/src/events_invitations/dto/filter-events_invitation.dto.ts
  packages/backend/src/events_invitations/entities/events_invitation.entity.ts
  packages/backend/src/events_invitations/events_invitations.controller.ts
  packages/backend/src/events_invitations/events_invitations.module.ts
  packages/backend/src/events_invitations/events_invitations.service.ts
  packages/backend/src/events_subscriptions/dto/create-events_subscription.dto.ts
  packages/backend/src/events_subscriptions/dto/delete-events_subscription.dto.ts
  packages/backend/src/events_subscriptions/dto/filter-events_subscription.dto.ts
  packages/backend/src/events_subscriptions/dto/update-events_subscription_status.dto.ts
  packages/backend/src/events_subscriptions/entities/events_subscription.entity.ts
  packages/backend/src/events_subscriptions/events_subscriptions.controller.ts
  packages/backend/src/events_subscriptions/events_subscriptions.module.ts
  packages/backend/src/events_subscriptions/events_subscriptions.service.ts
Labels: 🚀 new feature, 🔌 backend

#41 Fix: Apply Design to Auth UI, Link Auth to Backend and Setup Google Auth
  packages/backend/.env.example
  packages/backend/package-lock.json
  packages/backend/package.json
  packages/backend/src/auth/auth.controller.ts
  packages/backend/src/auth/auth.module.ts
  packages/backend/src/auth/services/auth.service.ts
  packages/backend/src/auth/strategies/google.strategy.ts
  packages/backend/src/auth/types/index.ts
  packages/backend/src/common/interceptors/error.interceptor.ts
  packages/backend/src/common/interceptors/index.ts
  packages/backend/src/common/interceptors/response.interceptor.ts
  packages/backend/src/common/types/index.ts
  packages/backend/src/main.ts
  packages/backend/src/users/users.controller.ts
  packages/backend/src/users/users.service.ts
  packages/frontend/src/app/auth/oauth/page.tsx
  packages/frontend/src/app/layout.tsx
  packages/frontend/src/app/profile/page.tsx
  packages/frontend/src/features/auth/api/auth-api.ts
  packages/frontend/src/features/auth/components/auth-carousel.tsx
  packages/frontend/src/features/auth/components/auth-form.tsx
  packages/frontend/src/features/auth/components/verify-email.tsx
  packages/frontend/src/features/auth/hooks/use-auth.ts
  packages/frontend/src/features/auth/providers/auth-context.tsx
  packages/frontend/src/features/auth/types/index.ts
  packages/frontend/src/middleware.ts
  packages/frontend/src/shared/api/axios-instance.ts
  packages/frontend/src/styles/globals.css
  src/middleware.ts
Labels: 🚀 new feature, ✨ polish, 🖥️ frontend, 🔌 backend
